body {
    background-color: #93b9f56b; /* Light orange background /
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #FFFFFF; / White background for the header /
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); / subtle shadow for depth */
}

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color: #333;
}

.auth a {
    font-family: 'Dancing Script', cursive;
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.restaurant-container {
    font-family: 'Rubik Doodle Shadow', cursive;
    padding: 20px;
    text-align: center;
}

.order_res {
    padding-top: 16%;
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}

.content {
    font-size: 45px;
    color: #555;
    margin-bottom: 10px;
}

.adjust {
    margin-top: 10%;
    font-size: 30px;
    color: #555;
}